@import 'colors';

nav{
    width: 100vw;
    height: 4.5rem;
    background-color: $third;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    box-shadow: 0 0 3px $second;
    top: 0;
    z-index: 10;

    > main {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > a{
            color: $first;
            opacity: .7;

            &:hover{
                opacity: 1;
            }

            > span{
                background-color: $third;
                color: $first;
                padding: 0.5rem 1.5rem;
                border-radius: 1rem;
                border: .1rem solid $first;

                &:hover{
                    background-color: $first;
                    color: $third;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        height: 8rem;
        > main{
            width: 95vw;
        }
    }

}
@media screen and (min-width: 769px) and (max-width: 1279px){
    nav{
        > main{
            width: 50vw;
        }
    }

}