@import "colors";

.home {
  width: 100vw;
  height: 100vh;
  background-color: $third;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  > .text {
    width: 40%;
    height: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    > h1 {
      color: $first;
      font-size: 3.8rem;
    }
    > p {
      color: $first;
      font-size: 1.3rem;
    }
    > .btns {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      > a > .discover {
        background-color: $first;
        padding: 1.3rem 2.5rem;
        border-radius: 1.5rem;
        border: none;
        transition-duration: 0.5s;
        font-size: 1.2rem;
        color: $third;
        border: 1px solid $first;
        &:hover {
          background-color: $third;
          color: $first;
        }
      }

      > a .signup {
        background-color: $third;
        color: $first;
        padding: 1.3rem 2.5rem;
        border-radius: 1.5rem;
        border: 1px solid $first;
        font-size: 1.2rem;
        transition-duration: 0.5s;

        &:hover {
          background-color: $first;
          color: $third;
          border: 1px solid $first;
        }
      }
    }
  }
  > div {
    width: 40%;
    > img {
      width: 100%;
      transform: rotate(5deg);
    }
  }
}

.home2 {
  width: 100vw;
  height: 100vh;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  > .text {
    width: 40%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p {
      color: $third;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
    }
    > h3 {
      text-transform: uppercase;
      font-size: 2rem;
      text-align: center;
    }
  }
  > .description {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    > div {
      width: 33.33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      > img {
        width: 100%;
      }
      > h3 {
        font-size: 1.5rem;
        text-transform: capitalize;
      }
      > p {
        color: $fourth;
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}
.features {
  width: 100vw;
  height: 100vh;
  background-color: $fifth;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  > .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    > p:nth-of-type(1) {
      color: $third;
      text-transform: uppercase;
      font-weight: 600;
    }
    > h3 {
      text-transform: capitalize;
      font-size: 2rem;
    }
    > p:nth-of-type(2) {
      width: 55%;
      text-align: center;
      font-size: 1.2rem;
      color: $fourth;
    }
  }
}
.details {
  width: 100vw;
  height: 100vh;
  background-color: $first;
  display: flex;
  justify-content: center;
  align-items: center;

  > .text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    > h3 {
      text-transform: capitalize;
      font-size: 2.2rem;
      font-weight: 600;
      text-align: left;
      width: 80%;
    }
    > p {
      width: 80%;
      color: $fourth;
    }
    > ul {
      width: 80%;
      color: $fourth;
      > li {
        list-style: none;
        font-size: 1rem;
      }
      > li::before {
        color: blue;
        content: "\25AA";
        margin-right: 5px;
        width: 1rem;
        height: 100%;
        font-size: 1.3rem;
      }
    }
    > span {
      width: fit-content;
      color: $first;
      font-size: 1.2rem;
      padding: 0.7rem 2rem;
      background-color: $third;
      border-radius: 1.5rem;
      transition-duration: 0.3s;
      border: 1px solid $third;

      &:hover {
        background-color: $first;
        color: $third;
        cursor: pointer;
      }
    }
  }
  > .image {
    width: 40%;
  }
}
.video {
  width: 100vw;
  height: 120vh;
  background-color: $fifth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  > img {
    width: 60%;
  }
  > p {
    width: 50%;
    color: $fourth;
    text-align: center;
    font-size: 1.2rem;
  }
}
.pricing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  > .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex: 2;
    > p{
      text-transform: uppercase;
      color: $third;
      font-weight: 600;
    }
    > h3{
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  > .card-container {
    width: 100vw;
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    flex-wrap: wrap;
    >.card{
      height: 90%;
      width: 25%;
      border: 2px solid rgba(233, 231, 231, 0.9);
      border-radius: .3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
      gap: 5rem;
      > .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: .5px solid rgba(233, 231, 231, 0.9) ;
        padding-bottom: 1.5rem;
        width: 80%;
        > p{
          text-transform: uppercase;
          color: $third;
          font-weight: 600;
        }
        > h2 {
          text-transform: capitalize;
          font-size: 3.5rem;
          font-weight: 600;
        }
        > span{
          color: $fourth;
        }
      }
      > ul{
        list-style: none;
        > .yes::before{
          content: '✔️';
          margin-right: 8px;
        }
        > .no::before{
          content: '✘';
          margin-right: 8px;
        }
      }
      > a > span{
        padding: 1rem 2rem;
        background-color: $third;
        border-radius: 1.5rem;
        color: $first;
        border: 1px solid $third;
        font-weight: 400;
        transition-duration: .5s;
        &:hover{
          background-color: $first;
          color: $third;
          cursor: pointer;
        }
      }
    }
  }
}
